# Stopping Dataset Bloat on the Repo
data

# Stopping the Environment Bloat on the Repo
.venv

# Stop Saving models to Bloat on the repo
models

# Stopping the __pycache__ bloat on the repo
__pycache__

# Stopping local dataset being tracked
ViT/reduced_imagenet/*

# Ignoring macOS directory store
.DS_Store